.restaurantCard {
  font-size: 10px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: auto;
  height: auto;
  border-radius: 8px;
}
.displayContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, auto);
  margin-top:50px;
}
.restaurantContainer {
  grid-column: 0 / 1;
  grid-row: 0 / 2;
}
img {
  height:50%;
  width:100%;
  object-fit: cover;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.restaurantCard:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.restaurantInfoContainer {
  padding: 2px 16px;
}

.cardContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  height: 3fr;
}